.aa-fs-btn { font-size: var(--aa-fs-btn) !important; }
.aa-fs-2022 { font-size: var(--aa-fs-2022) !important; }
.aa-fs-header-1 { font-size: var(--aa-fs-header-1) !important; }
.aa-fs-header-2 { font-size: var(--aa-fs-header-2) !important; }
.aa-fs-p-1 { font-size: var(--aa-fs-p-1) !important; }
.aa-fs-p-2 { font-size: var(--aa-fs-p-2) !important; }
.aa-fs-p-3 { font-size: var(--aa-fs-p-3) !important; }
.aa-fs-p-4 { font-size: var(--aa-fs-p-4) !important; }
.aa-fs-p-5 { font-size: var(--aa-fs-p-5) !important; }
